<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FusionTimekeeping.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <connectionStrings>
        <add name="online" connectionString="SERVER=7=1&gt;778@;2&gt;=:;║DATABASE=ovlyyl;║UID=tvs}itiuxm!{o;║PASSWORD=284y4v=y9x_;║PORT=3306;║Convert Zero Datetime=True;default command timeout=150;connection timeout=150;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <FusionTimekeeping.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
        </FusionTimekeeping.Properties.Settings>
    </userSettings>
</configuration>
