<?xml version="1.0"?>
<configuration>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <appSettings>
    <add key="POSVersion" value="1.1.0.6"/>
    <add key="PrinterName" value="PUnit1"/>
    <add key="CashDrawerName" value="CDUnit1"/>
    <add key="Training" value="false"/>
    <add key="PosTerminal" value="2"/>
    <add key="PrinterMaxCharacters" value="40"/>
    <add key="DeliveryAppLocation" value="C:\Program Files\Google\Chrome\Application\chrome.exe"/>
    <add key="BaseDbStructure" value="fusion_del"/>
    <add key="POSServerTimeSpan" value="3"/>
    <add key="PrinterAsync" value="true"/>
  </appSettings>
  <connectionStrings>
    <!-- Store Connection-->
    <!--<add name="online" providerName="MySql.Data.MySqlClient" connectionString="SERVER=10.17.7.43;PORT=3306;UID=RCMDMKTGD09;PASSWORD=secret;DATABASE=fusion_bldgf;Convert Zero Datetime=True;DEFAULT COMMAND TIMEOUT=120;CONNECTION TIMEOUT=50;"/>-->
    <!-- Cloud connection  -->
    <add name="online" providerName="MySql.Data.MySqlClient" connectionString="SERVER=pos-overhaul-dev.cngc8uyqrt0a.ap-southeast-1.rds.amazonaws.com;Port=3306;DATABASE=fusion_del;UID=pos_conso;PASSWORD=p0sc0ns0;Convert Zero Datetime=True;default command timeout=120;connection timeout=50;"/>
      <!--Localhost connection -->
    <!--<add name="online" providerName="MySql.Data.MySqlClient" connectionString="server=10.17.7.43;Port=3306;DATABASE=fusion_recto;UID=Gerald;PASSWORD=kamote;Convert Zero Datetime=True;default command timeout=120;connection timeout=50;"/>-->

    <!--<add name="online" providerName="MySql.Data.MySqlClient" connectionString="SERVER=localhost;PORT=3306;UID=root;DATABASE=fusion_t2;Convert Zero Datetime=True;DEFAULT COMMAND TIMEOUT=120; CONNECTION TIMEOUT=30" />-->
    <add name="standalone" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\{DatabaseFolder}\pos-db.sqlite"/>
    <add name="training" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\{DatabaseFolder}\pos-db-training.sqlite"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>   
</configuration>
