<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="download_source" value="http://sat.foodgroup.ph/keyne.madarang/Fusion POS/KFC/" />
    <add key="download_path" value="D:\Program Files\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>