<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Training" value="false" />
    <add key="DeliveryAppLocation" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
    <!-- 1 = Epson , 2 = Intermec -->
    <add key="PrinterType" value="1" />
    <add key="PrinterName" value="PUnit1" />
    <add key="PrintAsync" value="true" />
    <add key="PrintFeedLines" value="5" />
    <add key="ReceiptMessage" value="&lt;bold&gt;Your Reference Number :&lt;/bold&gt; &lt;newline&gt;&lt;center&gt;&lt;p4&gt;{0}&lt;/p4&gt;&lt;/center&gt;Present this receipt to the cashier to get your order" />
  </appSettings>
  <connectionStrings>
    <add name="online" connectionString="SERVER=353826&lt;5;;=;║DATABASE=ovlyyl;║UID=tvs}itiuxm!{o;║PASSWORD=284y4v=y9x_;║PORT=3306;║Convert Zero Datetime=True;default command timeout=150;connection timeout=150;"
      providerName="MySql.Data.MySqlClient" />
    <add name="standalone" connectionString="Data Source=|DataDirectory|\{DatabaseFolder}\pos-db.sqlite;PRAGMA journal_mode=WAL;"
      providerName="System.Data.SQLite" />
    <add name="training" connectionString="Data Source=|DataDirectory|\{DatabaseFolder}\pos-db-training.sqlite"
      providerName="System.Data.SQLite" />
  </connectionStrings>
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>