<?xml version="1.0"?>
<configuration>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <appSettings>
    <add key="POSVersion" value="1.1.0.3" />
    <add key="PrinterName" value="PUnit1" />
    <add key="CashDrawerName" value="CDUnit1" />
    <add key="Training" value="false" />
    <add key="PrinterMaxCharacters" value="40" />
    <add key="DeliveryAppLocation" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
    <add key="BaseDbStructure" value="DB" />
    <add key="POSServerTimeSpan" value="5" />
    <add key="PrinterAsync" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PosTerminal" value="2" />
  </appSettings>
  <connectionStrings>
    <add name="online" providerName="MySql.Data.MySqlClient" connectionString="SERVER=SERVER;║DATABASE=DB;║UID=ID;║PASSWORD=PASSWORD;║PORT=3306;║Convert Zero Datetime=True;default command timeout=150;connection timeout=150;"/>
    <add name="standalone" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\{DatabaseFolder}\pos-db.sqlite;PRAGMA journal_mode=WAL;"/>
    <add name="training" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\{DatabaseFolder}\pos-db-training.sqlite"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <startup>    
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="false"/>
</startup>
</configuration>
